<h4>Hi <%= session[:player_name] %>!</h4>

<h5>Player <%= session[:player_name] %>'s Cards:</h5>
<% session[:player_cards].each do |card| %>
  <ul>
    <li>
      <%= card.to_s %>
    </li>
  </ul>
<% end %>
Your total is: <%= get_total(session[:player_cards]) %>
<br />

<h5>Dealer Cards:</h5>
<% session[:dealer_cards].each do |card| %>
  <ul>
    <li>
      <%= card.to_s %>
    </li>
  </ul>
<% end %>
Dealer total is: <%= get_total(session[:dealer_cards]) %>

<% if get_total(session[:player_cards]).to_i == 21 %>
  <% session[:dealer_turn] = true %>
  <a href='/game'><"Click to see Dealer's cards."</a>
<% elsif get_total(session[:player_cards]).to_i > 21 %>
  <% @error = "You busted!" %> 
<% else %>
  <br />
  <a href='/hit' class='btn'>Hit</a> or <a href='/stay' class='btn'>Stay</a>
<% end %>
<br />
<a href='/reset' class='btn'>Reset Game</a>
