<h1>BlackJack</h1>


<h4>Dealer Cards:</h4>
<div class="well">
<ul>
<% session[:dealer_cards].each do |card| %>
    <li>
      <%= card.to_s %>
    </li>
  <% end %>
</ul>
</div>

<br />

<div class='well'>
<h4>Player <%= session[:player_name] %>'s Cards:</h4>
  <ul>
  <% session[:player_cards].each do |card| %>
    <li>
      <%= card.to_s %>
    </li>
  <% end %>
  </ul>
</div>
<p>

  What would you like to do?
  <%=session[:player_name] %>'s total: <%= get_total(session[:player_cards])%>

<% if @show_hit_or_stay_btns %>
  <form id="hit_form" action="/game/player/hit" method='post'>
    <input type="submit" class="btn btn-success" value="Hit" />
  </form>
  <form id="stay_form" action="/game/player/stay" method='post'>
    <input type="submit" class="btn btn-warning" value="Stay" />
  </form>
<% end %>