<h1>BlackJack</h1>


<h4>Dealer Cards:</h4>
  <div class='well'>
    <% session[:dealer_cards].each do |card| %>
      <ul>
        <li>
          <%= card.to_s %>
        </li>
      </ul>
    <% end %>
  </div>
<h4>Dealer total is: <%= get_total(session[:dealer_cards]) %></h4>

<h4>Player <%= session[:player_name] %>'s Cards:</h4>
  <div class='well'>
    <% session[:player_cards].each do |card| %>
      <ul>
        <li>
          <%= card.to_s %>
        </li>
      </ul>
    <% end %>
  </div>
<h4>
  <%=session[:player_name] %>'s total: <%= get_total(session[:player_cards])%>
</h4>
<br />


<% if get_total(session[:player_cards]).to_i == 21 %>
  <% session[:dealer_turn] = true %>
  <a href='/game' class='btn'>"Click to see Dealer's cards."</a>
<% elsif get_total(session[:player_cards]).to_i > 21 %>
  <% @error = "You busted!" %> 
<% elsif session[:dealer_turn] %>
    <a href='/game' class='btn'>"Click to see Dealer's cards."</a>
<% else %>
  <div class='well'>
    <a href='/hit' class='btn'>Hit</a> or <a href='/stay' class='btn'>Stay</a>
  </div>
<% end %>